@charset "EUC-KR";
header {
   position: fixed;
   width: 100%;
   z-index: 9999;
   top: 0;
   background-color: white;
   margin: 0px auto;
   align: right;
}
body{
   padding-top:85px;
   width:100%;
   margin:0px auto;
}